{% extends 'base.html' %}
{% block title %}
  Все посты пользователя {{ username.get_full_name }}
{% endblock %}
{% block content %}
{% load thumbnail %}
  <main>
    <div class="mb-5">        
      <h1>Все посты пользователя {{ username.get_full_name }} </h1>
      <h3>Всего постов: {{ number_of_posts }} </h3>
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}   
        {% for post in page_obj %}
      <article>  
        {% include 'includes/post.html' %}
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
      </article>  
          {% if post.group_id %}
          <a href="{% url 'posts:group_posts' post.group_id %}">все записи группы</a>
          {% else %}
          {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}      
      <hr>
      {% include 'posts/includes/paginator.html' %}  
    </div>
  </main>
{% endblock content %}